/*
General Styles
*/

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}

.container{
	padding-left: 20%;
	padding-right: 20%;
}

.header-wrapper, .footer-wrapper{
	padding: 20px;
	border-top: 2px dotted #BFBFC6;
	border-bottom: 2px dotted #BFBFC6;
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
}

.header-wrapper{
	flex-direction: column;
}

.footer-wrapper{
	flex-direction: row;
	justify-content: center;
}

#header-title{
	align-self: center;
	font-family: 'Cabin', sans-serif;
}

#header-nav{
	align-self: center;
	padding-bottom: 10px;
}

.header-link{
	padding: 10px;
	display: inline-block;
}

.link{
	color: #283847;
	text-decoration: none;
}

.link:visited{
	color: #283847;
	text-decoration: none;
}

.link:hover{
	color: #283847;
	text-decoration: underline;
}

#jumbo-img{
	position: relative;
	left: 5%;
	width: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
}

.footer-img{
	padding-left: 15px;
	padding-right: 15px;
}

.footer-img img{
	width: 30px;
	height: 30px;
}


/*
Styles for Bio and Resume Pages
*/

.nav-header{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #BFBFC6;
	display: flex;
	justify-content: center;
}

.header-big{
	margin-right: auto;
}

.header-right{
	display: inline-block;
	text-align: right;
	padding-left: 20px;
}

.right-links{
	margin-left: auto;
}

.resume-section{
	margin-bottom: 30px;
}

.section-header{
	font-family: 'Cabin', sans-serif;
	margin-top: 7px;
	margin-bottom: 5px;
}

.section-content{
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 13px;
}

.info{
	font-size: 13px;
	font-weight: 400;
	font-family: 'Roboto Slab', serif;
}

ul{
	margin-top: 2px;
}

/*
Bio styles
*/

.bio-images{
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.bio-img img{
	max-width: 80%;
}
